.row {
    color: white;
    margin-left: 18px;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__poster {
    max-height: 105px;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 450ms;
    width: 100%;
}

.row__poster:hover {
    opacity: 1;
    transform: scale(1.08);
}

.row__posterLarge {
    max-height: 240px;
}

.row__posterLarge:hover {
    opacity: 1;
    transform: scale(1.09);
}